<div class="layout-row layout-lg-column" >
  {{#paper-card as |card|}}
    {{#card.title as |title|}}
      {{#title.text as |text|}}
        {{#text.headline}}Pojazdy{{/text.headline}}
      {{/title.text}}
    {{/card.title}}
    {{#card.content class="layout-col layout-align-space-between"}}
      {{#paper-select
        label="Od"
        options=model
        selected=userState
        onChange=(action (mut userState))
      as |year|
      }}
        {{year}}
      {{/paper-select}}

      {{#paper-select
        label="Do"
        options=model
        selected=userState
        onChange=(action (mut userState))
      as |year|
      }}
        {{year}}
      {{/paper-select}}

      <div id="data">
        {{#paper-button raised=true primary=true class="toggle-button"}}<div class="title">Pojazdy ogółem</div> {{paper-icon "keyboard-arrow-down" size=36 class="toggle-icon"}}{{/paper-button}}
        <div class="toggle-hidden">
          HELLO
        </div>
        {{#paper-button raised=true primary=true class="toggle-button"}}<div class="title">Pojazdy samochodowe i ciągniki – wskaźniki</div> {{paper-icon "keyboard-arrow-down" size=36 class="toggle-icon"}}{{/paper-button}}
        <div class="toggle-hidden"></div>
        {{#paper-button raised=true primary=true class="toggle-button"}}<div class="title">Pojazdy według grup wieku</div> {{paper-icon "keyboard-arrow-down" size=36 class="toggle-icon"}}{{/paper-button}}
        <div class="toggle-hidden"></div>
        {{#paper-button raised=true primary=true class="toggle-button"}}<div class="title">Pojazdy według rodzajów stosowanego paliwa</div> {{paper-icon "keyboard-arrow-down" size=36 class="toggle-icon"}}{{/paper-button}}
        <div class="toggle-hidden"></div>
        {{#paper-button raised=true primary=true class="toggle-button"}}<div class="title">Przyczepy i naczepy</div> {{paper-icon "keyboard-arrow-down" size=36 class="toggle-icon"}}{{/paper-button}}
      </div>
    {{/card.content}}
  {{/paper-card}}
</div>