<div class="layout-row layout-lg-column">
  {{#paper-card id="category-card" as |card|}}
    {{#card.title as |title|}}
      {{#title.text as |text|}}
        {{#text.headline}}{{groupName}}{{/text.headline}}
      {{/title.text}}
    {{/card.title}}
    {{#card.content class="layout-col layout-align-space-between"}}

      {{#each model.subgroups as |subgroup|}}
        {{ subgroup.chartData }}
        <button class="toggle-button md-default-theme md-button md-primary md-raised ember-view md-ink-ripple" {{action
          "getSubgroupInfo" subgroup}}>
          <div class="title">{{subgroup.subgroupName}}</div> {{paper-icon "keyboard-arrow-down" size=36
                                                                          class="toggle-icon"}}
        </button>
        <div class="container my_container">
          <!-- Filters -->
          <div class="row">
            {{#paper-select
              label="Od"
              options=fromDate
              selected=selectedFrom
              onChange=(action (mut selectedFrom))
            as |year|
            }}
              {{year}}
            {{/paper-select}}

            {{#paper-select
              label="Do"
              options=toDate
              selected=selectedTo
              onChange=(action (mut selectedTo))
            as |year|
            }}
              {{year}}
            {{/paper-select}}
            <button class="md-default-theme md-button md-primary md-raised ember-view md-ink-ripple" {{action
              "filterData" subgroup selectedFrom selectedTo}}>
              <div class="title">Filtruj</div> {{paper-icon "search" size=12}}
            </button>
          </div>

          <!-- Charts -->
          <div class="row">
            {{#each chartsData as |chartData| }}
              {{#if (eq dimensions 5)}}
                <div class="col-md-12">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      {{#each chartData.grid_header as |title|}}
                        <p>{{title}}</p>
                      {{/each}}
                    </div>
                    <div class="panel-body">{{bar-chart data=chartData.chart_data options=options}}</div>
                  </div>
                </div>
              {{/if}}
              {{#if (eq dimensions 1)}}
                <div class="col-md-6">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      {{#each chartData.grid_header as |title|}}
                        <p>{{title}}</p>
                      {{/each}}
                    </div>
                    <div class="panel-body">{{bar-chart data=chartData.chart_data options=options}}</div>
                  </div>
                </div>
              {{/if}}
              {{#if (eq dimensions 0)}}
                <div class="col-md-4">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      {{#each chartData.grid_header as |title|}}
                        <p>{{title}}</p>
                      {{/each}}
                    </div>
                    <div class="panel-body">{{bar-chart data=chartData.chart_data options=options}}</div>
                  </div>
                </div>
              {{/if}}
            {{/each}}
          </div>

          <!-- Table -->
          <div class="table-responsive">
            <table class="table">
              <thead>
              <tr>
                {{#if (not-eq dimensions 5)}}
                  <th></th>
                {{/if}}
                {{#each showDate as |year| }}
                  <th>{{year}}</th>
                {{/each}}
              </tr>
              </thead>

              <tbody>
              {{#each chartsData as |chartData| }}
                <tr>
                  {{#if (not-eq dimensions 5)}}
                    <td>
                      {{#each chartData.grid_header as |title|}}
                        <p>{{title}}</p>
                      {{/each}}
                    </td>
                  {{/if}}
                  {{#each chartData.chart_data as |data index|}}
                    {{#if (not-eq index 0)}}<td>{{data.[1]}}</td>{{/if}}

                  {{/each}}
                </tr>
              {{/each}}
              </tbody>

            </table>
          </div>

        </div>
      {{/each}}

    {{/card.content}}
  {{/paper-card}}
</div>

<script>
  $(document).ready(function () {

    $('.toggle-button').click(function () {
      if (this.value === 'collapse') {
        // if it's open close it
        open = false;
        this.value = 'expand';
        $(this).next("div.my_container").hide("slow");
      }
      else {
        // if it's close open it
        open = true;
        this.value = 'collapse';
        $(this).siblings("[value='collapse']").click(); //to collapse the open divs
        $(this).next("div.my_container").show("slow");
      }
    });

  });
</script>