{{! without contextual components }}
{{#paper-toolbar}}
  {{#paper-toolbar-tools}}
    {{#paper-button iconButton=true}}
      {{paper-icon "menu"}}
    {{/paper-button}}
    <h2>
      Toolbar with Icon Buttons
    </h2>
    <span class="flex"></span>
    {{#paper-button iconButton=true}}
      {{paper-icon "favorite"}}
    {{/paper-button}}
    {{#paper-button iconButton=true}}
      {{paper-icon "more_vert"}}
    {{/paper-button}}
  {{/paper-toolbar-tools}}
{{/paper-toolbar}}

{{area-chart data=model options=options}}

{{#leaflet-map lat=lat lng=lng zoom=zoom}}

  {{tile-layer url="http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png"}}

  {{#marker-layer location=emberConfLocation}}
    {{#popup-layer}}
      <h3>The Oregon Convention Center</h3>
      777 NE Martin Luther King Jr Blvd<br>
      Portland, OR 97232
    {{/popup-layer}}
  {{/marker-layer}}

  {{#marker-layer location=hotel}}
    {{#popup-layer}}
      <h3>Hotel</h3>
    {{/popup-layer}}
  {{/marker-layer}}

{{/leaflet-map}}

<script type="text/javascript" src="admin_level_6.js"></script>

<script>

  var map = L.map('leaflet-map');

  geojson = L.geoJson(boundaries).addTo(map);

  geojson.eachLayer(function (layer) {
    layer.bindPopup(layer.feature.properties.name);
  });

</script>